root = true

[*]
charset = utf-8
indent_size = 4
end_of_line = lf
insert_final_newline = true

[.x-cmd/**]
indent_size = 4
tab_width = 4

[*.sh]
indent_size = 4
tab_width = 4

[*.{json,yml,yaml}]
tab_width = 2
indent_size = 2
indent_style = space
