node_modules
.env
*.log

# Docs
sitemap.xml
urls.txt
dist
docs/.vitepress/cache

# Mac OS
.DS_Store

# Bundle
lib/
bin/

# Typescript build file
*.tsbuildinfo

# Typescript test file
*.test.js
*.test.d.ts
*.test.js.map
coverage
