/* Overrides */
/**
 * Origin
 * -------------------------------------------------------------------------- */
/* :root {
  scroll-behavior: smooth;
} */

body {
  overflow: overlay;
}

kbd {
  padding: 3px 6px;
  font-size: 14px;
  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  box-shadow: var(--vp-c-kbd-box-outside-shadow);
}
.dark kbd {
  background: linear-gradient(-225deg, #263242, #1c1e20);
}

.VPNav.no-sidebar{
  background-color: var(--vp-c-bg-nav) !important;
}

@media (min-width: 960px){
  .VPNavBar.has-sidebar .content{
    background-color: var(--vp-c-bg-nav) !important;
  }
  .dark .DocSearch-Button {
    background-color: #111111;
  }
}

.vp-doc mark {
  color: inherit;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  font-weight: 700;
  border: 1px solid var(--vp-custom-block-tip-border);
  background-color: var(--vp-custom-block-tip-bg);
}

.vp-doc .custom-block.details summary {
  cursor: pointer;
  font-weight: 600;
}

.vp-doc a {
  color: var(--vp-c-brand);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  transition: text-decoration-color .25s;
}

.vp-doc a:hover {
  color: var(--vp-c-brand);
  text-decoration-color: var(--vp-c-brand);
  -webkit-text-decoration-color: var(--vp-c-brand);
}

.VPLink.edit-link-button:hover {
  color: var(--vp-c-text-3);
}

.vp-doc div[class*="language-"] {
  margin: 16px 0px;
}

img[alt="demo-gif"] {
  border: 1px solid var(--vp-code-line-highlight-color);
  background-color: var(--vp-code-block-bg);
}

img.error {
  display: inline-block;
  transform: scale(1);
}

img.error::before {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%; 
  height: 100%;
  color: transparent;
  --un-icon: url("data:image/svg+xml,%3Csvg class='icon' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cpath d='M304.128 456.192c48.64 0 88.064-39.424 88.064-88.064s-39.424-88.064-88.064-88.064-88.064 39.424-88.064 88.064 39.424 88.064 88.064 88.064zm0-116.224c15.36 0 28.16 12.288 28.16 28.16s-12.288 28.16-28.16 28.16-28.16-12.288-28.16-28.16 12.288-28.16 28.16-28.16z' fill='%23aaaaaa'/%3E%3Cpath d='M887.296 159.744H136.704C96.768 159.744 64 192 64 232.448v559.104c0 39.936 32.256 72.704 72.704 72.704h198.144L500.224 688.64l-36.352-222.72 162.304-130.56-61.44 143.872 92.672 214.016-105.472 171.008h335.36C927.232 864.256 960 832 960 791.552V232.448c0-39.936-32.256-72.704-72.704-72.704zm-138.752 71.68v.512H857.6c16.384 0 30.208 13.312 30.208 30.208v399.872L673.28 408.064l75.264-176.64zM304.64 792.064H165.888c-16.384 0-30.208-13.312-30.208-30.208v-9.728l138.752-164.352 104.96 124.416-74.752 79.872zm81.92-355.84l37.376 228.864-.512.512-142.848-169.984c-3.072-3.584-9.216-3.584-12.288 0L135.68 652.8V262.144c0-16.384 13.312-30.208 30.208-30.208h474.624L386.56 436.224zm501.248 325.632c0 16.896-13.312 30.208-29.696 30.208H680.96l57.344-93.184-87.552-202.24 7.168-7.68 229.888 272.896z' fill='%23aaaaaa'/%3E%3C/svg%3E");
  background: var(--vp-c-bg-mark) var(--un-icon) no-repeat center / 50% 50%;
}

img.error::after {
  content: attr(alt);
  color: inherit;
  font-size: 0.85rem;
  position: absolute;
  left: 0; 
  bottom: 0;
  width: 100%;
  background-color: var(--vp-c-bg-nav);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Home
 * -------------------------------------------------------------------------- */
.VPNavBarTitle .title {
  font-size: 0;
}

.VPNavBarTitle .logo {
  height: 44px;
}

@media (max-width: 640px) {
  .VPHomeHero .image-src {
    max-width: 240px;
  }
  .VPHomeHero .text {
    font-size: 22px;
  }
}

@media (min-width: 640px) {
  .VPHomeHero .image-src {
    max-width: 390px;
  }
  .VPHomeHero .text {
    font-size: 32px;
  }
}

@media (min-width: 960px) {
  .VPHomeHero .image-src {
    max-width: 420px;
  }
  .VPHomeHero .text {
    font-size: 36px;
  }
}

.VPHome .feat[class*="relative"]::after {
  content: "";
  position: absolute;
  top: 27%;
  right: -8%;
  width: 1px;
  height: 90px;
  background-color: var(--vp-c-divider-light);
}

@media (max-width: 768px) {
  .VPHome .feat[class*="relative"]::after {
    display: none;
  }
}

.VPDocFooter .pager-link:hover .title {
  color: var(--vp-c-brand);
}

/**
 * Container
 * -------------------------------------------------------------------------- */

.vp-doc .custom-block a {
  color: var(--vp-c-brand);
  text-decoration: none;
  transition: opacity 0.1s;
}

.vp-doc .custom-block a:hover {
  color: var(--vp-c-brand);
  text-decoration: underline;
  opacity: 1;
}

.vp-doc .custom-block div[class*="language-"] code {
  background: none;
}

/**
 * Plugin
 * -------------------------------------------------------------------------- */
.dark .DocSearch-Button-Key {
  box-shadow: none;
}
.DocSearch-Modal .cls-1, 
.DocSearch-Modal .cls-2{
  fill: var(--docsearch-logo-color);
}

.medium-zoom-overlay {
  /* override style set by medium-zoom script */
  background-color: var(--vp-c-bg) !important;
  z-index: 100;
}

.medium-zoom-overlay ~ img {
  z-index: 101;
  border-radius: 0;
}

.medium-zoom--opened .medium-zoom-overlay {
  opacity: 0.98 !important;
}

/**
 * Code Group
 * -------------------------------------------------------------------------- */

.code-group .code-group__nav {
  margin-top: 0.85rem;
  margin-bottom: calc(-1.7rem - 6px);
  padding-bottom: calc(1.7rem - 10px);
  padding-left: 10px;
  padding-top: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: var(--vp-code-block-bg);
}

.code-group .code-group__ul {
  margin: auto 0;
  padding-left: 0;
  display: inline-flex;
  list-style: none;
}

.code-group .code-group__li {
  margin-top: 0;
}

.code-group .code-group__nav-tab {
  position: relative;
  margin-right: 0.65rem;
  padding: 5px;
  cursor: pointer;
  font-size: 0.7em;
  line-height: 1.4;
  color: var(--vp-c-text-1);
  font-weight: 600;
  border-radius: 4px;
  box-shadow: var(--vp-c-kbd-box-outside-shadow);
  transition: box-shadow 0.1s ease-in-out;
}
.code-group .code-group__nav-tab:focus,
.code-group .code-group__nav-tab-active {
  box-shadow: var(--vp-c-kbd-box-inside-shadow);
}

.code-group .code-group__nav-tab-active::after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--vp-c-text-3);
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
}

.code-group .code-group-item {
  display: none;
}

.code-group .code-group-item.code-group-item__active {
  display: block;
}

.code-group div[class*="language-"] {
  border-radius: 0 0 6px 6px;
  margin-top: calc(1.7rem + 5px);
  padding-top: 0;
}

/**
 * Doc
 * -------------------------------------------------------------------------- */
.vp-doc .clip {
  font-size: 3.2rem;
  line-height: 3.8rem;
  text-align: center;
  background: var(--vp-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--vp-home-hero-name-color);
}

.vp-doc .description {
  font-size: 1.2rem;
  text-align: center;
  color: var(--vp-c-text-2);
}
