/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-font-family-mono: Menlo, "Noto Sans Mono", ui-monospace, SFMono-Regular, "SF Mono", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --vp-layout-max-width: 1490px;
  --vp-c-accent: rgb(218, 180, 11);
  --vp-c-brand: #eb5c5c;
  --vp-c-brand-light: #fe7a7a;
  --vp-c-brand-lighter: #d2361c;
  --vp-c-brand-dark: rgba(172, 71, 71, 0.9);
  --vp-c-brand-darker: #b74b4b;
  --vp-c-green-light: #16a891;
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-alt-bg: #f5f5f5;
  --vp-button-alt-text: rgb(75, 85, 99);
  --vp-button-alt-hover-bg: #efeeee;
  --vp-button-alt-hover-text: rgb(75, 85, 99);
  --vp-c-bg-nav: rgba(255, 255, 255, 0.7);
  --vp-c-bg-mark: rgb(232, 232, 232);
  --vp-custom-block-info-bg: rgba(171, 210, 244, 0.05);
  --vp-custom-block-info-border: #60c4fa;
  --vp-custom-block-info-text: rgb(39, 115, 145);
  --vp-custom-block-info-text-deep: rgb(18, 121, 162);
  --vp-custom-block-tip-bg: rgba(137, 202, 176, 0.05);
  --vp-custom-block-tip-border: rgba(34, 197, 94, 1);
  --vp-custom-block-tip-text: rgb(10, 128, 90);
  --vp-custom-block-tip-text-deep: rgb(11, 133, 94);
  --vp-custom-block-warning-bg: rgba(250, 204, 21, .05);
  --vp-custom-block-warning-border: rgba(245, 158, 11, 1);
  --vp-custom-block-warning-text: rgb(166, 114, 35);
  --vp-custom-block-warning-text-deep: rgb(199, 109, 6);
  --vp-custom-block-danger-bg: rgba(220, 38, 38, .05);
  --vp-custom-block-danger-border: rgba(248, 113, 113, 1);
  --vp-custom-block-danger-text: rgb(196, 46, 46);
  --vp-custom-block-danger-text-deep: rgba(220, 38, 38, 1);
  --vp-code-block-bg: rgba(232, 232, 232, 0.3);
  --vp-c-text-dark-1: rgb(240, 238, 238);
  --vp-c-text-dark-3: rgb(111, 111, 111);
  --vp-c-gutter: rgba(60, 60, 60, .12);
  --vp-code-line-highlight-color: rgba(229, 229, 229, 0.5);
  --vp-code-copy-code-hover-bg: rgba(121, 121, 121, 0.1);
  --vp-code-copy-code-active-text: var(--vp-c-text-dark-3);
  --vp-c-kbd-box-outside-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
  --vp-c-kbd-box-inside-shadow: inset 1px 1px 2px #cdcde6, inset -1px -1px 4px #fff;
  --vp-c-docsearch-logo-color: #e87a90;
  --docsearch-container-background: rgba(83, 85, 90, 0.8);
}


.dark {
  --vp-c-brand: #D05A6E;
  --vp-c-bg: rgb(26, 26, 26);
  --vp-c-bg-alt: rgb(23, 23, 23);
  --vp-c-bg-nav: rgba(23, 23, 23, 0.8);
  --vp-c-bg-mark: rgb(0, 0, 0);
  --vp-button-brand-bg: var(--vp-c-brand-dark);
  --vp-button-alt-bg: #484848;
  --vp-button-alt-text: #f0eeee;
  --vp-button-alt-hover-bg: #484848;
  --vp-button-alt-hover-text: #f0eeee;
  --vp-custom-block-info-bg: rgba(84, 110, 155, 0.1);
  --vp-custom-block-info-border: #3686b1;
  --vp-custom-block-info-text: #52b0e3;
  --vp-custom-block-info-text-deep: #00b7ff;
  --vp-custom-block-tip-bg: rgba(51, 130, 118, 0.1);
  --vp-custom-block-tip-border: rgba(4, 120, 87, 1);
  --vp-custom-block-tip-text: rgb(25, 190, 129);
  --vp-custom-block-tip-text-deep: rgba(52, 211, 153, 1);
  --vp-custom-block-warning-bg: rgba(253, 224, 71, .1);
  --vp-custom-block-warning-border: rgba(202, 138, 4, 1);
  --vp-custom-block-warning-text: rgba(234, 179, 8, 1);
  --vp-custom-block-warning-text-deep: rgba(250, 204, 21, 1);
  --vp-custom-block-danger-bg: rgba(239, 68, 68, .1);
  --vp-custom-block-danger-border: rgba(127, 29, 29, 1);
  --vp-custom-block-danger-text: rgba(248, 113, 113, 1);
  --vp-custom-block-danger-text-deep: rgba(248, 113, 113, 1);
  --vp-code-block-bg: rgba(0, 0, 0, 0.3);
  --vp-c-gutter: rgba(84, 84, 84, .48);
  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
  --vp-code-copy-code-hover-bg: rgba(255, 255, 255, 0.05);
  --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
  --vp-c-bg-mute: #2d2d2d;
  --vp-c-kbd-box-outside-shadow: -1px -1px 1px #505050, 1px 1px 6px #000;
  --vp-c-kbd-box-inside-shadow: inset 1px 1px 3px #000, inset -3px -3px 6px #505050;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-active-border: var(--vp-c-brand-light);
}
.dark {
  --vp-button-brand-hover-bg: var(--vp-c-brand-darker);
  --vp-button-alt-bg: var(--vp-c-bg-mute);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(270deg, #ef6f6f 30%, #f090b0);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #ffffff 30%, #e66666);
  --vp-home-hero-image-filter: blur(30px);
}

.dark {
  --vp-home-hero-name-background: -webkit-linear-gradient(270deg, #f25959 30%, #e0cdee);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #fff1f1 30%, #f25959);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(60px);
  }
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}
.DocSearch-Commands-Key {
  --docsearch-key-shadow: var(--vp-c-kbd-box-outside-shadow) !important;
}
